<div id="homeTemplate">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">Notes List</div>
                
                <ul class="list-group">
                    <li @click="editNote(note)" class="list-group-item" v-for="note in notes">
                        <strong>{{ note.title }}</strong>
                    </li>
                </ul>
                
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Note Info 
                    <button type="button" @click="newNote()" class="btn btn-primary float-sm-right">New Note</button>
                </div>

                <div class="card-body">
                    <editor></editor>
                    <p>{{ currentNote.title }}</p>
                    <p>{{ currentNote.note }}</p>
                    
                    
                </div>
            </div>
        </div>
    </div>
    
    
    
</div>