<div id="changePassword">
    <b-modal id="changePasswordModal" @hide="hideModal">
      <p>Complete the follwing form to change your password.</p>
      <b-alert :show="$v.$error" variant="danger">
        <p>Please fix the following validation errors:</p>
        <ul>
          <li v-if="!$v.password.required">Password is required.</li>
          <li v-if="!$v.passwordConfirm.required">Password Confirm is required.</li>
          <li v-if="!$v.passwordConfirm.sameAsPassword">Password confirmation does not match.</li>
        </ul>
      </b-alert>
      <b-form-group id="newPassword"
                    label="New Password:"
                    label-for="newPasswordInput"
                    description="Your new password">
        <b-form-input id="newPasswordInput"
                      type="password"
                      v-model.trim="$v.password.$model"
                      required
                      placeholder="Enter New Password">
        </b-form-input>
      </b-form-group>

      <b-form-group id="newPasswordConfirm"
                    label="Confirm Password:"
                    label-for="newPasswordConfirmInput"
                    description="Confirm your password">
        <b-form-input id="newPasswordConfirmInput"
                      type="password"
                      v-model.trim="$v.passwordConfirm.$model"
                      required
                      placeholder="Confirm Your Password">
        </b-form-input>
      </b-form-group>

      <div slot="modal-footer">
        <b-button @click="changePassword()" variant="primary" :disabled="$v.$invalid">
          Save
        </b-button>
      </div>
    </b-modal>

</div>